CI_ENVIRONMENT=development
app_baseURL=https://tallytech.jrmsu-tc.online/
database_default_hostname=
database_default_database=tallytech
database_default_username=mysql
database_default_password=
database_default_DBDriver=MySQLi
database_default_DBPrefix=
database_default_port=3306
encryption_key=
